@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
  border-bottom: 1px solid #bebcbd;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 35px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo > a > img {
  width: 91.165px;
  height: 45px;
  object-fit: cover;
}

.header-right,
.header-left {
  display: flex;
  position: relative;
}

.header-search {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  width: 184px;
  display: flex;
  padding: 12px 48px;
  gap: 12px;
  background-color: #f6f6f6;
  border-radius: var(--border-radius);
}

.search-wrapper > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.search-wrapper > input {
  height: 22px;
  width: 100%;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
}

.search-wrapper > input::placeholder {
  color: var(--color-text);
}

.header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 54px;
}

.header-highlight {
  display: flex;
  align-items: center;
  gap: 0 20px;
  cursor: pointer;
  color: #333333;
  font-size: 1.8rem;
}

.header-menu > ul {
  font-size: 1.8rem;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 43px;
  display: none;
}

.header-menu > ul > li {
  width: 100%;
  margin-bottom: 5px;
}

.header-menu > ul > li:last-child {
  margin-bottom: 0;
}

.header-menu > ul > li > a {
  text-decoration: none;
  color: #333333;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
}

.header-menu > ul > li > a:hover {
  background-color: #f6f6f6;
}

.header-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-group > button {
  padding: 12px 48px;
  color: #fff;
  border-radius: var(--border-radius);
  font-size: 1.8rem;
  font-weight: 500;
  background: #8a33fd;
  border: 1px solid transparent;
}

.header-group > button:last-child {
  color: #8a33fd;
  background: transparent;
  border: 1px solid var(--color-title);
}

.from {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.from-left {
}

.form-banner {
  width: 100%;
  object-fit: cover;
}

.from-right {
}

.from-right_content {
  padding: 60px 0 0 77px;
  max-width: 620px;
  height: 100%;
}

.from-right_title {
  color: #333;
  font-size: 3.4rem;
  letter-spacing: 0.68px;
  font-family: 'CoreSans';
  font-weight: 600;
  margin-bottom: 50px;
}

.from-right_dsecription {
  color: rgba(102, 102, 102, 0.8);
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 10px;
}

.from-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.from-network_tw,
.from-network_gg {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 0;
  border: 1px solid #3c4242;
  border-radius: var(--border-radius);
  width: 100%;
  color: #8a33fd;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
}

.from-network_tw > img,
.from-network_gg > img {
  min-width: 20px;
  height: 20px;
  object-fit: cover;
}

.from-or {
  display: flex;
  margin: 50px 0;
  gap: 23px;
  align-items: center;
}

.driver {
  background: rgba(102, 102, 102, 0.25);
  height: 2px;
  flex-grow: 1;
}

/* login */
.from-group {
  display: flex;
  flex-direction: column;
}

.from-password,
.from-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.from-email {
  margin-bottom: 30px;
}

.from-password > label .from-email > label {
  color: #3c4242;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.password-input > input,
.email-input > input {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #3c4242;
  border-radius: var(--border-radius);
  color: #3c4242;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.from-password_show {
  display: flex;
  justify-content: space-between;
}

.from-password_show > span {
  display: flex;
  gap: 15px;
  color: #807d7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.show-password {
  width: 18.188px;
  height: 15.996px;
  cursor: pointer;
  object-fit: cover;
}

.forget_password {
  color: #3c4242;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration-line: underline;
  margin: 10px 0 30px;
}

.from-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.from-submit > button {
  padding: 16px 20px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  width: 176px;
  border-radius: var(--border-radius);
  font-weight: 500;
  background-color: #8a33fd;
}

.signup,
.from-submit > span {
  color: #3c4242;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  gap: 3px;
}

.signup {
  text-decoration-line: underline;
}

.from-right_checkbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 30px 0 58px;
}

.checkbox-2,
.checkbox-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-2 > label,
.checkbox-1 > label,
.checkbox-2 > label > a,
.checkbox-1 > label > a {
  color: #807d7e;
  font-size: 1.8rem;
  font-weight: 500;
}

.checkbox-2 > label > a,
.checkbox-1 > label > a {
  text-decoration-line: underline;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
}

input[type='checkbox'] {
  accent-color: #333;
}

.show-pass_password,
.show-error {
  position: absolute;
  right: 10px;
  top: 58%;
  letter-spacing: 1px;
  color: #ee1d52;
  font-size: 1.7rem;
  font-weight: 400;
}
