/* button */
.shop-left_btn:hover,
.btn-checkout:hover,
.card-btn:hover,
.check-info_btn:hover,
.shop-left_form > button:hover,
.no-cart_btn:hover,
.details-info_btn > button:hover,
.offers-btn:hover,
.sale-item_btn:hover,
.sale-list_btn:hover,
.banner-btn:hover,
.from-network_gg:hover,
.from-network_tw:hover,
.from-submit > button:hover,
.header-group > button:hover {
  scale: 96%;
  transform-origin: right;
  transition: scale 0.3s;
}
/* hover-product */
.brand-item:hover,
.sale-menu_item:hover,
.sale-list_item:hover,
.categories_item:hover,
.deals-right:hover,
.deals-left:hover {
  transform: translate(0, -10px);
  transition: transform 0.3s;
  cursor: pointer;
}
/* text */
.sale-item_position > a:hover,
.color__item > span:hover,
.size_item > a:hover,
.style_item > a:hover,
.product-nav_item > a:hover,
.footer-item > a:hover,
.checkbox-2 > label > a:hover,
.checkbox-1 > label > a:hover,
.signup:hover,
.forget_password:hover {
  color: #8a33fd;
  transition: 0.3s;
  cursor: pointer;
}
.icon_arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid #807d7e;
  border-right: 2px solid #807d7e;
  border-radius: 1px;
  transform: rotate(45deg);
}
.d-none {
  display: none;
}
.d-show {
  display: block;
}
.show-important {
  display: block !important;
}
.border {
  border: 1px solid #3c4242 !important;
}
.bg-black {
  background: #3c4242;
  color: #fff !important;
}
/* show-nav */
@keyframes showNav {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
